<div class="affix-top">
{{py:
import tempita, help
gridhelp = gethelp('gridhelp')
gridtypehelp = help.get_help_message("gridtypehelp", gridhelp['gridtypehelp']['title'], gridhelp['gridtypehelp']['message'])
queuetimeouthelp = help.get_help_message("queuetimeouthelp", gridhelp['queuetimeouthelp']['title'], gridhelp['queuetimeouthelp']['message'])
maxrunninghelp = help.get_help_message("maxrunninghelp", gridhelp['maxrunninghelp']['title'], gridhelp['maxrunninghelp']['message'])
gripoptshelp = help.get_help_message("gripoptshelp", gridhelp['gripoptshelp']['title'], gridhelp['gripoptshelp']['message'])
queueshelp = help.get_help_message("queueshelp", gridhelp['queueshelp']['title'], gridhelp['queueshelp']['message'])	
vrmjobshelp = help.get_help_message("vrmjobshelp", gethelp('vrmjobshelp.title'), gethelp('vrmjobshelp.message'))
mailserverhelp = help.get_help_message("mailserverhelp", gethelp('mailserverhelp.title'), gethelp('mailserverhelp.message'))
}}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Global Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
     <div class="row">
        <div class="col-lg-12" style="padding-right: 25%;" dir="rtl">
              <button id="savebutton" type="button" class="btn btn-success" onclick="save()"><i class="fa fa-fw fa-check"></i>Save</button>
              <button id="cancelbutton" type="button" class="btn btn-default" data-target="#home-panel" href="/pages/home.htm" onclick="if (globalEditted)return ConfirmMove('pages/home.htm'); else return navigatePanel(this, '')">Cancel</button>
        </div>
    </div>
</div>
<div class="float-bottom">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">General</h3>
                </div>
                <div id='general-pane' class="panel-body">
                    <form id="gen-form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Maximum Concurrent VRM Jobs<br/><include>{{vrmjobshelp}}</include></label>
                            <div class="col-sm-10">
                                <input name="j" class="form-control" value="{{get('j')}}" style="margin-top: 10px;">
                                <span class="help-block"><small>Specify how many individual jobs VRM can launch in parallel (0 = no limit)</small></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Grid Settings</h3>
                </div>
                <div id='grid-pane' class="panel-body">
                    <form id="grid-form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Grid Type<br/><include>{{gridtypehelp}}</include></label>
                            <div class="col-sm-2" style="margin-top: 10px;">
                                <select id="grid-type-div" name="gridtype" class="form-control">
					<option {{if get('grid.gridtype')=="0"}} selected="selected" {{endif}}>None</option>
					<option {{if get('grid.gridtype')=="1"}} selected="selected" {{endif}}>LSF</option>
					<option {{if get('grid.gridtype')=="2"}} selected="selected" {{endif}}>SGE</option>
					<option {{if get('grid.gridtype')=="3"}} selected="selected" {{endif}}>UGE</option>
					<option {{if get('grid.gridtype')=="4"}} selected="selected" {{endif}}>RTDA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Max Queue Time<br/><include>{{queuetimeouthelp}}</include></label>
                            <div class="col-sm-10">
                                <input name="to" class="form-control paramRef" value="{{get('grid.timeout')}}" style="margin-top: 10px;">
                                <span class="help-block"><small>Can be specified as seconds.</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Maximum Concurrent Grid Jobs<br/><include>{{maxrunninghelp}}</include></label>
                            <div class="col-sm-10">
                                <input name="maxrun" class="form-control paramRef" value="{{get('grid.maxrun')}}" style="margin-top: 10px;">
                                <span class="help-block"><small>Maximum number of jobs VRM can launch to the grid at a time (0 = no limit)</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Additional Grid Options<br/><include>{{gripoptshelp}}</include></label>
                            <div class="col-sm-10">
                                <input name="gridopts" class="form-control paramRef" value="{{get('grid.gridopts')}}" placeholder="Type any additional grid options here" style="margin-top: 10px;">
                                <span class="help-block"><small>i.e. -Rmem=200</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Available Queues to Use<br/><include>{{queueshelp}}</include></label>
		            <div class="col-sm-10">
	    		        <div id='queue-group-div'>
			        </div>
				<button id='add-queue-button' type="button" class="btn btn-primary" onclick='addQueue("")' style="clear: both;"><i class="fa fa-fw fa-plus"></i>Add Queue</button>
			    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Email Settings</h3>
                </div>
                <div id='email-pane' class="panel-body">
                    <form id="mail-form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Mail Server<br/><include>{{mailserverhelp}}</include></label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="email-options" {{if get('mail.selected')== "1"}} checked {{endif}} >  My machine has an SMTP server running which VRM can use
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="email-options" {{if get('mail.selected')== "2"}} checked {{endif}}>I would like to specify my SMTP server
                                    </label>
                                </div>
                                <div>
                                    <label class="col-sm-2 control-label " style="font-weight: normal;"><span class="text-danger">*</span> SMTP Server</label>
                                    <div class="col-sm-10">
                                        <input name="mailserver" type="email" value="{{get('mail.server')}}" class="form-control paramRef" placeholder="smtp.company.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<script>
$.ajaxSetup({cache: true})
function globalEnableButtons(value) {
	if (value){
	       globalEditted = 1;
	       $('#savebutton').removeAttr('data-toggle');
	       $('#savebutton').removeAttr('title');      
	}
	else{
	       globalEditted = 0;
	       $('#savebutton').prop('data-toggle', 'tooltip');
	       $('#savebutton').prop('title', 'There are no changes to save');    
	}
	$('#savebutton').prop('disabled', !value);
	$('#cancelbutton').prop('disabled', !value);
}

function addQueue(thetext) {
	var queueDiv = document.createElement('div');
	queueDiv.className = 'well well-sm ';
	var queueInput = document.createElement('input');
	queueInput.type = 'text';
	queueInput.style = 'margin-right: 10px;';
	queueInput.value = thetext;
	queueDiv.appendChild(queueInput);
	var queueButton = document.createElement('label');
	queueButton.style = 'margin-left: 10px;';
	queueButton.className = 'deleteBtn';
	queueButton.innerHTML = '<i class="fa fa-lg fa-trash-o" style="cursor:pointer;"></i>';
	queueDiv.appendChild(queueButton);
	queueButton.onclick = function() {
		this.parentNode.parentNode.removeChild(this.parentNode);
		globalEnableButtons(true);
	};
	$('#queue-group-div').append(queueDiv);
}
{{py: queues = get('grid.queues')}}
{{for queue in queues}}
addQueue("{{queue}}")
{{endfor}}
function save() {
        var j = $('#gen-form input[name="j"]').val()    || '0';
        var gridtype     = $('#grid-form select[name="gridtype"] option:selected').index()+"";
        var to   = $('#grid-form input[name="to"]').val() || '60';
        var maxrun   = $('#grid-form input[name="maxrun"]').val() || '0';
        var gridopts   = $('#grid-form input[name="gridopts"]').val() || '';
	var queues = [];
	$('#queue-group-div').find('div.well.well-sm').each(function(){
			var input = $((this)).find('input');
			queues.push(input.val());
	});
	var mail  = $(":radio[name='email-options']").index($(":radio[name='email-options']:checked"))+1+"";
        var server   = $('#mail-form input[name="mailserver"]').val() || '';

        $.ajax({
            type: 'POST',
            url: '/pages/global.htm',
            data: JSON.stringify({
                'j': j,
		'grid': {
	                'gridtype': gridtype,
        	        'timeout':     to,
                	'maxrun':     maxrun,
	                'gridopts':     gridopts,
        	        'queues':    queues
			},
		'mail': {
	                'selected':     mail,
        	        'server':     server
			}
		}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function(data) {
            },
            failure: function(msg) {
                alert('Error: ' + msg);
            }
        });
	globalEnableButtons(false);
        return false;
}
$('#general-pane').on('keyup change', 'input', function () {
	globalEnableButtons(true);
});

$('#grid-pane').on('keyup change', 'input', function () {
	globalEnableButtons(true);
});

$('#grid-type-div').on('change', function () {
	globalEnableButtons(true);
});

$('#email-pane').on('keyup change', 'input', function () {
	globalEnableButtons(true);
});
globalEnableButtons(false);
</script>
