<link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css">
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
$('#daterange-container .input-daterange').datepicker({
    format: "yyyymmdd"
});
$(function() {
  if (!$.fn.bootstrapDP && $.fn.datepicker && $.fn.datepicker.noConflict) {
    var datepicker = $.fn.datepicker.noConflict();
    $.fn.bootstrapDP = datepicker;
  }
$('#daterange-container .input-daterange').bootstrapDP({
    autoclose: true,
    todayHighlight: true
  });
});
</script>

<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
    <!-- begin paramters -->
{{py:
import tempita, params_table
parameters = get('report.parameters')
regparameters = get('regression.parameters')
speparameters = get('specialparams')
specialMessages = gethelp('specialparamshelp')
params_table = params_table.get_params_table('repparam', 'report', parameters, regparameters, speparameters, specialMessages)
}}
 <include>{{params_table}}</include>
    <!-- end paramters -->
{{py:
    
def btnyes(on):
    if on:
        return "btn-primary active"
    else:
        return "btn-default" 

def btnno(on):
    if on:
        return "btn-default" 
    else:
        return "btn-primary active"

def radioyes(on):
    if on:
        return "checked"
    else:
        return ""

def radiono(on):
    if on:
        return "" 
    else:
        return "checked"

def collapsed(on):
    if on:
        return "in" 
    else:
        return ""

def vis(on):
    if on:
        return ""
    else:
        return "none"

def compare(str1,str2):
    return (str1 == str2)

def hide(on):
    if on:
        return "hidden"
    else:
        return ""
def show(on):
    if on:
        return ""
    else:
        return "disabled"

def trendPanel(on):
    if on:
        return "panel-info"
    else:
        return "panel-grey"
}}
{{py:
import tempita, help
reporthelp = gethelp('reporthelp')
}}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default panel-info">
{{py: 
html = get('report.html')
htmlreporthelp = reporthelp['htmlreporthelp']
reportlochelp = help.get_help_message("reportlochelp", htmlreporthelp['reportlochelp']['title'], htmlreporthelp['reportlochelp']['message'])
covrephelp = help.get_help_message("covrephelp", htmlreporthelp['covrephelp']['title'], htmlreporthelp['covrephelp']['message'])
covrepoptshelp = help.get_help_message("covrepoptshelp", htmlreporthelp['covrepoptshelp']['title'], htmlreporthelp['covrepoptshelp']['message'])
htmlrepoptshelp = help.get_help_message("htmlrepoptshelp", htmlreporthelp['htmlrepoptshelp']['title'], htmlreporthelp['htmlrepoptshelp']['message'])
}}
        <div id="html-heading" class="panel-heading">
          <h3 class="panel-title">
            <input type="checkbox" name="enablehtml" value="on" data-toggle="collapse" data-target="#cov-report" aria-expanded="false" class="collapsed" {{radioyes(html['enable'])}}> Create Regression/Coverage Results HTML Report <i class="fa fa-file-text-o fa-fw"></i>
          </h3>
        </div>
        <div class="panel-body collapse {{collapsed(html['enable'])}}" id="cov-report" aria-expanded="true" >
          <form id="htmlreport-form" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2">Location<br/><include>{{reportlochelp}}</include></label>
              <div class="col-sm-10">
                <input name="htmldir" class="form-control paramRef" value="{{html['htmldir']}}" style="margin-top: 10px;">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Include Coverage Report<br/><include>{{covrephelp}}</include></label>
			  <div id="html-radio-div" class="col-sm-10 btn-group "  style="margin-top: 10px;" data-toggle="buttons">
                <label id="cov-label-yes" class="btn {{btnyes(html['cov'])}}"  data-target="#cov-opts" >
	              <input id="cov-radio-yes" type="radio" name="cov-radio" value="on" {{radioyes(html['cov'])}}>Yes
	            </label>
	            <label id="cov-label-no" class="btn {{btnno(html['cov'])}}"  data-target="#cov-opts" >
	              <input id="cov-radio-no" type="radio" name="cov-radio" value="" {{radiono(html['cov'])}}>No
	            </label>
	          </div>
            </div>
            
            <div id="cov-opts" class="form-group" style="margin-top: 10px; display:{{vis(html['cov'])}};">
              <label class="control-label col-sm-2">Report Options<br/><include>{{covrepoptshelp}}</include></label>
              <div class="col-sm-10 ui-widget">
                <div class="checkbox"><label><input name="details" type="checkbox" value="on" {{radioyes(html['details'])}}> Include details pages in reports</label></div>
                <div class="checkbox"><label><input name="htmlsource" type="checkbox" value="on" {{radioyes(html['source'])}}> Include annotated source files in report</label></div>
                <div class="checkbox"><label><input name="showexcluded" type="checkbox" value="on" {{radioyes(html['showexcluded'])}}> Show excluded items in report</label></div>
                <div class="checkbox"><label><input name="testhit" type="checkbox" value="on" {{radioyes(html['testhit'])}}> Show testhit data in the report</label></div>
                <div class="checkbox"><label><input name="testrecord" type="checkbox" value="on" {{radioyes(html['testrecord'])}}> Show complete testrecord in the report</label></div>
              </div>
            </div>
            <div id="add-cov-opts" class="form-group" style="margin-top: 10px;display:{{vis(html['cov'])}};">
              <label class="control-label col-sm-2">Additional Options<br/><include>{{htmlrepoptshelp}}</include></label>
              <div class="col-sm-10 ui-widget">
                <input name="addoptionstxt" style="margin-top: 10px;" value="{{html['addopt']}}" class="form-control paramRef" placeholder="Type any additional reporting switches here">
                <span class="help-block"><small>i.e. -instance /top/dut -cvg</small></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="trendreportingpanel" class="panel panel-default">
{{py:
trend = get('report.trend')
trendreporthelp = reporthelp['trendreporthelp']
reportformathelp = help.get_help_message("reportformathelp", trendreporthelp['reportformathelp']['title'], trendreporthelp['reportformathelp']['message'])
reportlochelp = help.get_help_message("reportlochelp", trendreporthelp['reportlochelp']['title'], trendreporthelp['reportlochelp']['message'])
reportdateshelp = help.get_help_message("reportdateshelp", trendreporthelp['reportdateshelp']['title'], trendreporthelp['reportdateshelp']['message'])
graphtypehelp = help.get_help_message("graphtypehelp", trendreporthelp['graphtypehelp']['title'], trendreporthelp['graphtypehelp']['message'])
trendrepoptshelp = help.get_help_message("trendrepoptshelp", trendreporthelp['trendrepoptshelp']['title'], trendreporthelp['trendrepoptshelp']['message'])
}}
	    <div id="trend-heading" class="panel-heading">
          <h3 class="panel-title">
            <input type="checkbox" id="trendreporting" name="enabletrend" data-toggle="collapse" data-target="#trend-panel" aria-expanded="false" class="collapsed" {{radioyes(trend['enable'])}} trendEnable($('#regautotrend input[name="autotrend"]:checked').val())> Create Trend Report <i class="fa fa-line-chart fa-fw"></i>
          </h3>
        </div>
        <div class="panel-body collapse {{collapsed(trend['enable'])}}" id="trend-panel" aria-expanded="false" style="height: 350px;">
          <form id="trendreport-form" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2">Report Type<br/><include>{{reportformathelp}}</include></label>
              <div id="trend-radio-div" class="col-sm-10 btn-group" data-toggle="buttons" style="margin-top: 10px;">
                <label id="trend-html-label" class="btn {{btnyes(compare(trend['format'],'html'))}}">
                  <input type="radio" name="format-radio" value="html" {{radioyes(compare(trend['format'],'html'))}}>HTML
                </label>
                <label id="trend-csv-label" class="btn {{btnyes(compare(trend['format'],'csv'))}}">
                  <input type="radio" name="format-radio" value="csv" {{radioyes(compare(trend['format'],'csv'))}}>CSV
                </label>
                <label id="trend-xml-label" class="btn {{btnyes(compare(trend['format'],'xml'))}}">
                  <input type="radio" name="format-radio" value="xml" {{radioyes(compare(trend['format'],'xml'))}}>XML
                 </label>
              </div>
            </div>
            <div class="form-group collapse {{collapsed(compare(trend['format'],'html'))}}" id="graphtype">
              <label class="control-label col-sm-2">Graph Type<br/><include>{{graphtypehelp}}</include></label>
              <div id="graph-radio-div" class="col-sm-10 btn-group" data-toggle="buttons" style="margin-top: 10px;">
                <label class="btn {{btnyes(compare(trend['graph'],'bar'))}}">
                  <input type="radio" name="trend-graph-radio" value="bar" {{radioyes(compare(trend['graph'],'bar'))}}>Bar
                </label>
                <label class="btn {{btnyes(compare(trend['graph'],'line'))}}">
                  <input type="radio" name="trend-graph-radio" value="line" {{radioyes(compare(trend['graph'],'line'))}}>Line
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Location<br/><include>{{reportlochelp}}</include></label>
              <div class="col-sm-10">
                <input name="trenddir" class="form-control paramRef" value="{{trend['dir']}}" style="margin-top: 10px;">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" style="margin-top: -10px;">Date Range<br/><include>{{reportdateshelp}}</include></label>
              <div class="col-sm-4"  id="daterange-container">
              <div class="input-daterange input-group" id="datepicker">
                  <input type="text" name="date1" value="{{trend['date1']}}" class="input-sm form-control" />
		  <span class="input-group-addon">to</span>
                  <input type="text" name="date2" value="{{trend['date2']}}" class="input-sm form-control" />
              </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" style="font-weight: normal;">Additional Options<br/><include>{{trendrepoptshelp}}</include></label>
              <div class="col-sm-10">
                <input name="addopt" style="margin-top: 10px;" class="form-control paramRef" value="{{trend['addopt']}}" placeholder="Type any additional reporting switches here">
                <span class="help-block"><small>i.e. -byinstance</small></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{py: 
email = get('report.email')
emailhelp = reporthelp['emailhelp']
recepienthelp = help.get_help_message("recepienthelp", emailhelp['recepienthelp']['title'], emailhelp['recepienthelp']['message'])
subjecthelp = help.get_help_message("subjecthelp", emailhelp['subjecthelp']['title'], emailhelp['subjecthelp']['message'])
messagehelp = help.get_help_message("messagehelp", emailhelp['messagehelp']['title'], emailhelp['messagehelp']['message'])
sectionshelp = help.get_help_message("sectionshelp", emailhelp['sectionshelp']['title'], emailhelp['sectionshelp']['message'])
serverhelp = help.get_help_message("serverhelp", emailhelp['serverhelp']['title'], emailhelp['serverhelp']['message'])
}}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default panel-info">
        <div id="email-heading" class="panel-heading">
          <h3 class="panel-title">
            <input type="checkbox" name="email-enable" data-toggle="collapse" data-target="#email-panel" aria-expanded="false" class="collapsed" {{radioyes(email['enable'])}}> Email Results <i class="fa fa-envelope-o fa-fw"></i>
          </h3>
        </div>
        <div class="panel-body collapse {{collapsed(email['enable'])}}" id="email-panel" aria-expanded="false" style="height: 506px;">
          <form id="email-form" class="form-horizontal">
            <div class="form-group has-feedback">
              <label class="col-sm-2 control-label"><span class="text-danger">*</span> Email Recipients<br/><include>{{recepienthelp}}</include></label>
              <div class="col-sm-10">
                <input name="email-add" type="email" class="form-control" value="{{email['add']}}" placeholder="Enter list of email addresses here" style="margin-top: 10px;">
                <span class="help-block"><small>Should be space or comma separated list, i.e.: john@smith.com mike@smith.com</small></span>
              </div>
            </div>
            <div class="form-group" style="margin-top: -10px">
              <label class="col-sm-2 control-label">Email Subject<br/><include>{{subjecthelp}}</include></label>
              <div class="col-sm-10">
                <input name="email-sub" type="subject" class="form-control paramRef" id="exampleInputPassword2" value="{{email['sub']}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Custom User Message<br/><include>{{messagehelp}}</include></label>
              <div class="col-sm-10">
<textarea name="email-msgs" class="form-control paramRef" style="resize:vertical;" placeholder="Enter your message here">
{{py: msgs = email['msg']}}
{{for msg in msgs}}
{{msg}}
{{endfor}}
</textarea>
              </div>
            </div>
            <div id="email-sections" class="form-group">
              <label class="col-sm-2 control-label">Sections<br/><include>{{sectionshelp}}</include></label>
              <div class="col-sm-10">
                <div class="checkbox" style="margin-top: 0px;">
                  <label id="all-sec"><input type="checkbox" name="allsec" value="on" {{radioyes(email['as'])}}> All Sections</label>
                  <div id="secs" class="indent">
                    <div style="margin-top: 5px;">
                      <label class="email-check-label"><input class="email-check" type="checkbox" name="pfs" value="on" {{radioyes(email['pfs'] or email['as'])}}> Pass/Fail Status</label>
                    </div>
                    <div>
                      <label class="email-check-label"><input class="email-check" type="checkbox" name="cs" value="on" {{radioyes(email['cs'] or email['as'])}}> Completion Status</label>
                    </div>
                    <div>
                      <label class="email-check-label"><input class="email-check" type="checkbox" name="es" value="on" {{radioyes(email['es'] or email['as'])}}> Execution Status</label>
                    </div>
                    <div>
                      <label class="email-check-label"><input class="email-check" type="checkbox" name="gs" value="on" {{radioyes(email['gs'] or email['as'])}}> Generation Status</label>
                    </div>
                    <div>
                      <label class="email-check-label"><input class="email-check" type="checkbox" name="ucdbs" value="on" {{radioyes(email['ucdbs'] or email['as'])}}> UCDB Status</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top: -10px">
              <label class="col-sm-2 control-label">Configure Email Server<br/><include>{{serverhelp}}</include></label>
              <div class="col-sm-10">
              <a id="report-global" style="line-height: 3.5em;" data-target="#home-panel" href="pages/global.htm" onclick="if (suiteEditted)return ConfirmMove('pages/global.htm'); else return navigatePanel(this)">Email Settings</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{py:
addopt = get('report.addopt')
reportoptshelp = reporthelp['reportoptshelp']
reportsourcehelp = help.get_help_message("reportsourcehelp", reportoptshelp['reportsourcehelp']['title'], reportoptshelp['reportsourcehelp']['message'])
reportcommandshelp = help.get_help_message("reportcommandshelp", reportoptshelp['reportcommandshelp']['title'], reportoptshelp['reportcommandshelp']['message'])
}}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default panel-info">
        <div id="addopt-heading" class="panel-heading">
          <h3 class="panel-title">
            <input name="enableaddopt" type="checkbox" data-toggle="collapse" data-target="#add-panel" aria-expanded="false" class="collapsed" {{radioyes(addopt['enable'])}}> Additional Options
          </h3>
        </div>
        <div class="panel-body collapse {{collapsed(addopt['enable'])}}" id="add-panel" aria-expanded="false" style="height: 193px;">
          <form id="report-form" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">What would you like to do<br/><include>{{reportsourcehelp}}</include></label>
              <div class="col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="source" value="path" {{radioyes(compare(addopt['source'],'path'))}}>Use existing reporting script.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="source" value="commands" {{radioyes(compare(addopt['source'],'commands'))}}>Enter reporting commands manually.
                  </label>
                </div>
              </div>
            </div>
	     <div class="form-group" style="margin-top: -10px;">
                <label class="col-sm-2 control-label">Reporting Script<br/><include>{{reportcommandshelp}}</include></label>
                <div class="col-sm-10 ui-widget commands" id="user-cmds" {{hide(compare(addopt['source'],'path'))}}>
<textarea name="commands" class="form-control paramRef" style="resize:vertical;" placeholder="Additional reporting commands">
{{py: commands = addopt['commands']}}
{{for command in commands}}
{{command}}
{{endfor}}
</textarea>
                  <span class="help-block"><small>The above commands should be TCL commands which can be executed from a vsim promp.</small></span>
                </div>
              <div class="path col-sm-10" id="user-script" {{hide(compare(addopt['source'],'commands'))}}>
                  <input class="form-control paramRef" id="report_exec" name="path" value="{{get('report.addopt.path')}}" type="text">
                  <span class="help-block"><small>Select the script to execute additional reporting commands</small></span>
              </div>
	   </div>
          </form>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
   </div>
</div>
<script>
    if($('#regautomerge input[name="automerge"]').is(':checked')==false){
	changeHTML();
    }
    function trendEnable(on) {
	$("#trendreporting").attr('disabled', $('#regautotrend input[name="autotrend"]:checked').val() != 'checked');
        if (on != "checked"){
                $("#trendreporting").attr('checked', false);
                $("#trend-panel").removeClass('in');
        }

    }
    function trendReporting(on){
	trendEnable(on);
        if (on == "checked"){
		$("#trendreportingpanel").addClass("panel-info");
                $('#trendreportingpanel').removeAttr('data-toggle');
                $('#trendreportingpanel').removeAttr('title');      
        }
        else {
		$("#trendreportingpanel").addClass("panel-grey");
                $('#trendreportingpanel').prop('data-toggle', 'tooltip');
                $('#trendreportingpanel').prop('title', 'Trend Report is only applicable when auto trend is enabled. Please enable auto trend form Regression Settings Page.');    
        }

    }
    trendReporting($('#regautotrend input[name="autotrend"]:checked').val());
    $('#repparam-form').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#htmlreport-form').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#trendreport-form').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#email-form').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#email-heading').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#addopt-heading').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#trend-heading').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#html-heading').on('keyup change', function() {
        EnableButtons(true); // enable save/reset if any form values are changed
    });
    $('#saveBtn').on('click', function(e) {
        var result = [];
        var commands = $('#report-form textarea[name="commands"]').val()    || '';
        var path     = $('#report-form input[name="path"]').val()           || '';
        var source   = $('#report-form input[name="source"]:checked').val() || 'commands';
        var htmldir = $('#htmlreport-form input[name="htmldir"]').val() || '';
        var cov   = $('#htmlreport-form input[name="cov-radio"]:checked').val();
        var details   = $('#htmlreport-form input[name="details"]:checked').val() || '';
        var htmlsource   = $('#htmlreport-form input[name="htmlsource"]:checked').val() || '';
        var showexcluded   = $('#htmlreport-form input[name="showexcluded"]:checked').val() || '';
        var testhit   = $('#htmlreport-form input[name="testhit"]:checked').val() || '';
        var testrecord   = $('#htmlreport-form input[name="testrecord"]:checked').val() || '';
        var addopt   = $('#htmlreport-form input[name="addoptionstxt"]').val() || '';
        var htmlenable = $('#html-heading input[name="enablehtml"]:checked').val() || '';
        var pfs = $('#email-form input[name="pfs"]:checked').val() || '';
        var cs = $('#email-form input[name="cs"]:checked').val() || '';
        var es = $('#email-form input[name="es"]:checked').val() || '';
        var gs = $('#email-form input[name="gs"]:checked').val() || '';
        var ucdbs = $('#email-form input[name="ucdbs"]:checked').val() || '';
        var as = $('#email-form input[name="allsec"]:checked').val() || '';
        var emailon = $('#email-heading input[name="email-enable"]:checked').val() || '';
        var emailadd = $('#email-form input[name="email-add"]').val() || '';
        var emailsub = $('#email-form input[name="email-sub"]').val() || '';
        var msgs = $('#email-form textarea[name="email-msgs"]').val()    || '';
        var trendenable = $('#trend-heading input[name="enabletrend"]:checked').val() || '';
        var trendformat = $('#trendreport-form input[name="format-radio"]:checked').val() || '';
        var trenddir = $('#trendreport-form input[name="trenddir"]').val() || '';
        var trendgraph = $('#trendreport-form input[name="trend-graph-radio"]:checked').val() || '';
        var trendaddopt   = $('#trendreport-form input[name="addopt"]').val() || '';
        var trenddate1   = $('#trendreport-form input[name="date1"]').val() || '';
        var trenddate2   = $('#trendreport-form input[name="date2"]').val() || '';
        var addoptenable = $('#addopt-heading input[name="enableaddopt"]:checked').val() || '';
        // save parameters
        result = getParamsrepparam();
        $.ajax({
            type: 'POST',
            url: '/pages/{{suite}}/report.htm',
            data: JSON.stringify({
                'report.parameters': result,
                'report.addopt.commands': commands.split("\n"),
                'report.addopt.path':     path,
                'report.addopt.source':   source,
                'report.addopt.enable': addoptenable,
                'report.html.htmldir': htmldir,
                'report.html.cov': cov,
                'report.html.details': details,
                'report.html.source': htmlsource,
                'report.html.showexcluded': showexcluded,
                'report.html.testhit': testhit,
                'report.html.testrecord': testrecord,
                'report.html.addopt': addopt,
                'report.html.enable': htmlenable,
                'report.trend.enable': trendenable,
                'report.trend.format': trendformat,
                'report.trend.dir': trenddir,
                'report.trend.graph':trendgraph,
                'report.trend.date1':trenddate1,
                'report.trend.date2':trenddate2,
                'report.trend.addopt':trendaddopt,
                'report.email.pfs': pfs,
                'report.email.cs': cs,
                'report.email.es': es,
                'report.email.gs': gs,
                'report.email.ucdbs': ucdbs,
                'report.email.as': as,
                'report.email.enable': emailon,
                'report.email.add': emailadd,
                'report.email.sub': emailsub,
                'report.email.msg': msgs.split("\n")
                }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function(data) {
                EnableButtons(false); // disable further save/reset
            },
            failure: function(msg) {
                alert('Error: ' + msg);
            }
        });
        return false;
    });
    $('#report-form').on('keyup change', function() {
		var source = $(this).find('input[name="source"]:checked').val();
        if (source == 'path') {
            $(this).find('div.commands').hide(); $(this).find('div.path').show();
        } else {
            $(this).find('div.path').hide(); $(this).find('div.commands').show();
        }
        EnableButtons(true);
		return false;
    });
    $('#html-radio-div').on('change', function() {
	if ($('#cov-label-yes').attr('disabled')!="disabled"){
		$('#cov-opts').toggle();
		$('#add-cov-opts').toggle();
		$('#htmlreport-form input[name="cov-radio"]').each(function (index) {
		    $(this).parent().toggleClass("btn-primary");
		    $(this).parent().toggleClass("btn-default");
		});
		EnableButtons(true);
			return false;
	} else {
		$('#cov-radio-yes').removeAttr('checked');
		$('#cov-radio-no').attr('checked', true);
	}
    });
    $('#trend-radio-div').on('change', function() {
        var trendformat = $('#trendreport-form input[name="format-radio"]:checked').val() || '';
        if (trendformat == 'html') {
            $('#trend-html-label').attr('class','btn btn-primary active');
            $('#trend-csv-label').attr('class','btn btn-default');
            $('#trend-xml-label').attr('class','btn btn-default');
	    $('#graphtype').addClass('in');
        } else if (trendformat == 'csv') {
            $('#trend-csv-label').attr('class','btn btn-primary active');
            $('#trend-html-label').attr('class','btn btn-default');
            $('#trend-xml-label').attr('class','btn btn-default');
	    $('#graphtype').removeClass('in');
        } else {
            $('#trend-xml-label').attr('class','btn btn-primary active');
            $('#trend-csv-label').attr('class','btn btn-default');
            $('#trend-html-label').attr('class','btn btn-default');
	    $('#graphtype').removeClass('in');
        }
        EnableButtons(true);
		return false;
    });
    $('#graph-radio-div').on('change', function() {
        $('#trendreport-form input[name="trend-graph-radio"]').each(function (index) {
            $(this).parent().toggleClass("btn-primary");
            $(this).parent().toggleClass("btn-default");
        });
        EnableButtons(true);
		return false;
    });
    $('#cancelBtn').on('click', function(e) {
        if (suiteEditted)
                return ConfirmMove('pages/home.htm');
        else {
                suiteEditted = 0;
                window.location.replace("");
                return false;
        }
    });
    $('#email-form').on('keyup change', function(e) {
        EnableButtons(true);
        return false;
    });
    $('#all-sec').on('keyup change', 'input', function () {
       if ($('#email-form input[name="allsec"]:checked').val()) {
           $('#email-form input.email-check').prop('checked', true);
        } else {
           $('#email-form input.email-check').prop('checked', false);
        }
        EnableButtons(true);
    });
    $('#secs').on('keyup change', 'input', function () {
       if ($('#email-form input[name="pfs"]:checked').val() && $('#email-form input[name="cs"]:checked').val() && $('#email-form input[name="es"]:checked').val() && $('#email-form input[name="gs"]:checked').val() && $('#email-form input[name="ucdbs"]:checked').val()) {
           $('#email-form input[name="allsec"]').prop('checked', true);
        } else {
           $('#email-form input[name="allsec"]').prop('checked', false);
        }
        EnableButtons(true);
    });

    $('#report-form input[name="source"]').on('change', function(e) {
        $("#user-script").toggle();
        $("#user-cmds").toggle();
		EnableButtons(true);
    });
   if (suiteEditted == 0){
	EnableButtons(false);
   }
</script>

