/*
===============================================
Copyright 2005-2017 Mentor Graphics Corporation

   All Rights Reserved.

THIS WORK CONTAINS TRADE SECRET
AND PROPRIETARY INFORMATION WHICH IS THE
PROPERTY OF MENTOR GRAPHICS
CORPORATION OR ITS LICENSORS AND IS
SUBJECT TO LICENSE TERMS.
===============================================
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: left;
    color: black;
    margin: 0px;
    padding: 0px;
}

body.header {
    margin: 0px;
    padding: 0px;
    background: #E8EEF2;
}

/* layout */
#header {
    position: absolute;
    top: 0;
    left: 26%;
    right: 0px;
    height: 123px;
    background-color: #E9EDF2;
}

#sidebar {
    top: 0px;
    position: absolute;
    bottom: 29px;
    width: 26%;
    min-width: 165px;
    max-width: 85%;
    overflow-y: auto;
    background-color: #E9EDF2;
}

#main {
    position: absolute;
    top:123px;
    left:26%;
    right: 0;
    bottom: 29px;
    background-color: white;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 29px;
    background-color: #2658A6;
}

/* common styles */
h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 4px;
    margin-top: 11px;
    color: black;
}

a, a:link, a:visited, a:active {
    font-weight: bold;
    font-style: normal;
    background-color: Transparent;
    color: #2354a3;
    text-decoration: none;
}

a:hover, a.weblink:hover {
    text-decoration: underline;
}

a.weblink:hover {
    text-decoration: underline;
}

a.weblink, a.weblink:link {
    font-weight: bold;
    font-style: normal;
    background-color: Transparent;
    background: url('../graphics/exlink.gif') center right no-repeat;
    padding-right: 16px;
    color: #2354a3;
    text-decoration: none;
}

img {
    border: 0;
}

/* header */
#infohub_header_graphic_div {
    height: 74px;
    background-color: #2658A6;
    background-image: url('../graphics/mgc_infohub_header.gif');
    vertical-align: top;
    width: 100%;
}

#infohub_header_graphic_div table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

#infohub_header_graphic_div table td {
    padding: 0;
    vertical-align: top;
}

#InfoHub_title {
    width: auto;
    float: left;
    padding-top:14px;
    padding-left: 7px;
    min-width: 175px;
}

p.title {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left
}

p.supportLine {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left

}

#search {
    display: none;
}

.searchtips {
    color: white;
    padding-right: 40px;
    margin: 0;
    font-size: 8px;
}

.searchtips a,
.searchtips a:link,
.searchtips a:visited,
.searchtips a:hover {
    color: white;
    font-size: 10px;
    text-decoration: underline;
}

#icon-replacement {
    height: 26px;
    width: 28px;
    margin-right:2px;
    _margin-right:0px;
    margin-top:3px;
    padding-right:5px;
    _padding-right:0px;
    padding-top:0px;
    display:none;
}

#text-replacement {
    height: 19px;
    width: 200px;
    margin-top: 8px;
    margin-left: 25px;
    color: black;
    font-family: Arial, Sans-serif;
    font-size: 11px;
    float: left !important;
    display: none;
}

#icon-div {
    float: right !important;
    width: 37px;
    padding-left: 0px;
}

#spinnerimg {
    width:29px;
    height:29px;
    padding-left:4px;
}

#search_box_td {
    width: 360px;
}

#search_box_container {
    float: right;
    text-align: right;
    clear: both;
    padding-right: 2px;
    _margin-top: -5px;
}

#search_box_container table {
    float: right;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

#search_box_container table td {
    padding: 0;
}

.search_box {
    height: 37px;
    width: 317px;
    padding-left:0px;
    margin-left: 10px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
    background-image: url("../graphics/bg-search.png");
    background-repeat: no-repeat;
    float:right;
}

#query {
    font-family: Arial, sans-serif;
    font-size: 11px;
    border-width: 0px;
    margin-left: 25px;
    margin-top: 3px;
    padding: 0;
    min-width: 244px;
    max-width: 244px;
    min-height: 27px;
    max-height: 27px;
    float: left;
    color: #6D6D6D;
    overflow: hidden !important;
    resize: none;
    *margin-left: 10px;  /* IE7 hack */
}

input.search_btn {
    vertical-align: top;
    margin-top: 3px;
    margin-left: 4px;
    float: left;
}

#search_list {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-decoration: none;
    float:right;
    padding: 0 40px 0 0;
    margin: 0;
}

#search_list_container {
    position: relative;
    top: -2px;
}

#search_list_container input {
    position: relative;
    top: 2px;
}

/* tabs */
#IHTabPane{
    background-color: white;
    overflow-y: auto;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0;
    left:0px;
    right: 0px;
}

#tabs {
    border-bottom: 10px solid #2658A6 !important;
    height: 38px;
    min-width: 564px;
}

#tabs td {
    vertical-align:top;
}

#tabs table {
    width:100%;
    overflow: hidden;
    *margin-bottom:-3px;  /* IE7 hack */
    *margin-left: -2px;   /* IE7 hack */
}

tr.tabs {
    vertical-align: top;
    width: 100%;
    height: 33px;
}

td.tabs {
    width: 100%;
}

#tabs_td {
    min-width: 480px;
}

td.fg_tab {
    border: 0px;
    vertical-align: middle;
    width: 102px;
    height: 34px;
}

ul.tabs {
    list-style-type: none;
    margin-top: 3px;
    padding: 0;
    margin-bottom: 0px;
    margin-left: -5px;
    margin-top: -2px;
}

a.fg_tab,
a.fg_tab:link,
a.fg_tab:visited,
a.fg_tab:active,
a.fg_tab:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: table-cell;
    height: 16px;
    overflow: hidden;
    cursor: default;
    vertical-align: middle;
    text-decoration: none;
    padding: 12px 14px 8px 14px;
    background: url("../graphics/bg_tab_primary_s.png") no-repeat scroll 100% 0 #2658A6;
}

span.fg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

td.bg_tab {
    border: 0px;
    vertical-align: middle;
    width: 102px;
}

a.bg_tab,
a.bg_tab:link,
a.bg_tab:visited,
a.bg_tab:active,
a.bg_tab:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2658A6;
    display: table-cell;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    padding: 12px 14px 8px;
    background: url('../graphics/bg_tab_primary.png') no-repeat scroll 100% 0;
    border-left: 1px solid #A9A9A9;
}

a.bg_tab:hover {
    border-left: 1px solid #A9A9A9;
    background: url('../graphics/bg_tab_primary_h.png') no-repeat scroll 100% 0 #E28769;
    color: black !important;
    text-decoration: none;
}

span.bg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

li.fg_tab,
li.bg_tab {
    display: inline;
    list-style-type: none;
    margin-right: -5px;
    float: left;
    *margin-right: -1px;  /* IE7 hack */
}

#resize_button {
    border: 1px solid #ddd;
    float: right;
    background-color: white;
    margin-top: 7px;
    margin-right: 7px;
    padding: 0 2px 0 6px;
    width: 114px;
}

#resize_button a {
    background: #fff;
    display: block;
    float: left;
}

#resize_button a:hover {
    background:#eee;
}

#resize_button img {
    border:none;
    float:left;
}

/* sidebar */
.sidebar_head {
    background: #2658A6;
    height: 59px;
    _height: 83px;
    padding: 10px 5px 5px 5px;
    display: block;
    overflow: hidden;
}

.sidebar_head2 {
    padding: 0px;
    border-bottom: 10px solid #2658A6;
    _border-bottom: 7px solid #2658A6;
    display: block;
}

#mentor_logo {
    text-align: center;
    padding-top: 7px;
}

.mentor_img {
    background: url('../graphics/logo-white.svg') 50% 50% no-repeat;
    background-size: 139px 40px;
    height: 40px;
    width: 139px;
    display: block;
    margin: auto;
}

.scope_label {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: black;
    margin: 0px;
    display: block;
    vertical-align: bottom;
    padding: 20px 2px 4px 2px;
    _padding-top: 18px;
}

.scope {
    margin: 0px;
}

.scope_link,
.scope_link:link,
.scope_link:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    height: 30px;
    _height: 34px;
    overflow: hidden;
    vertical-align: middle;
    border: 0px;
    text-decoration: none;
    margin: 0px;
    padding: 2px 3px 2px 3px;
    background-image: url('../graphics/scope_bg.png');
    background-repeat: repeat-x;
    cursor: pointer;
}

.scope_link:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-image: url('../graphics/scope_bg_h.png');
    background-repeat: repeat-x;
}

.scope_link_active,
.scope_link_active:link,
.scope_link_active:hover,
.scope_link_active:visited {
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: block;
    height: 30px;
    _height: 34px;
    overflow: hidden;
    vertical-align: middle;
    border: 0px;
    text-decoration: none;
    margin: 0px;
    padding: 2px 3px 2px 3px;
    background-image: url('../graphics/scope_bg_s.png');
    background-repeat: repeat-x;
    cursor: default;
}

#dragbar {
    background-color: #A8AEB2;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    width: 1px;
    cursor: col-resize;
    border-left: 1px solid #2658A6;
    border-right: 1px solid #2658A6;
}


/* footer */
#footer table {
    background-image: url('../graphics/mgc_infohub_footer.gif');
    width: 100%;
    height: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.copyrightFooter {
    font-size: 10px;
    color: white;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
}

.bottomlinks,
.bottomlinks a:link,
.bottomlinks a:visited {
    color: white;
    font-weight: normal;
}

td.bottomlinks {
    text-align: left;
    padding-top: 0px;
    line-height: 12px;
    padding-left: 7px;
    min-width: 420px;
    font-size: 1em;
}

.productList {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    border-top: 1px solid #CCC;
    padding: 5px 2px;
    margin-top: 15px;
}

#copyrightTD {
    width: 16em;  /*firefox only?*/
}

#copyrightTD div {
    float: left;
    width: 210px;
}

/* content */
ul.listbull {
    padding: 0;
    padding-left: 14px;
    margin: 0;
}

p.listbull {
    text-align:left;
    font-weight:bold;
    font-style:normal;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:2px;
    color: black;
    list-style:disc;
}

li.listbull {
    text-align:left;
    font-weight:bold;
    font-style:normal;
    color: black;
    list-style:disc;
    margin-bottom: 8px;
}

.textbull{
    font-weight: 100;
}

select {
    display: block;
    font-size: 10px;
}

select.doclist {
    font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
    font-weight: normal;
    width: 550px;
}

select.doclist_indent {
    font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
    font-weight: normal;
    width: 550px;
}

select.doclist option.pdfonly {
    background: url('../graphics/pdfonly.gif') center right no-repeat;
    padding-right: 14px;
    margin-right: 2px;
}

select.doclist option.htmlonly {
    background: url('../graphics/htmlonly.gif') center right no-repeat;
    padding-right: 14px;
    margin-right: 2px;
}

td.doclist_title {
    padding: 0px 2px 6px 2px;
}

td.doclist {
    padding: 0px 5px 4px 25px;
    width: auto;
}

td.doclist_spacer {
    height: 10px;
}

td.doclist_html {
    padding: 0px;
    margin: 0px;
    width: auto;
}

#tabTable {
    margin: 0 12px 12px;
    padding: 0px;
    padding:3px 15px 0 0;
}

.bold {
    font-weight: bold;
}

p.H1BodyText {
    margin: 10px 20px 0px 22px;
    font-weight:normal;
    font-style:normal;
}

p.H2BodyText {
    margin: 2px 20px 6px 2px;
    font-weight:normal;
    font-style:normal;
}

#button_container_div {
    height: 25px;
    padding-top: 2px;
}

/* search */
#loading {
    padding: 12px 6px;
}

#SearchTitle {
    font-weight:bold;
    font-size: 18px;
    color: red;
    width: auto;
    float: left !important;
}

.SearchResults {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.SearchResults thead tr {
    background-color: #E9EDF2;
}

.SearchResults thead td {
    padding: 2px 8px;
}

.SearchResults tbody tr {
    background-color: white;
}

.SearchResults tbody tr:hover {
    background-color: #F5F9FA;
}

.SearchResults tbody td {
    border-top: 1px solid #CCC;
}

.SearchResults tfoot tr {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #E9EDF2;
}

.SearchResults tfoot td {
    padding: 6px 8px;
}

.pager {
    font-weight: bold;
    font-style: normal;
    color: #666;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
}

td.SearchNumber {
    width: 20px;
    vertical-align: top;
    text-align: right;
    padding: 9px 0 9px 8px;
}

.pSearchResult {
    margin: 7px;
}

.pSearchTopic {
    margin: 2px 0;
}

.pSearchSource {
    color: #999;
    margin: 2px 0;
}

.pSearchTitle {
    font-style: italic;
    color: #888;
}

.pSearchSnippet {
    color: #444;
    margin: 2px 0;
}

.pNoResults {
    font-weight: bold;
    margin-bottom: 1.6em;
}

span.subtopics {
    line-height: 2em;
    font-style: italic;
    color: #999;
}

.suggestions {
    margin: 20px 20px 30px 20px;
    color: #555;
}

.suggestions li {
    line-height: 1.6em;
}

.back_arrow {
    display: inline !important;
    margin-top: 2px;
}

.next_arrow {
    display: inline !important;
    margin-top: 2px;
    padding-left: 3px;
}

.green_highlight {
    background-color: LawnGreen;
    font-weight: bold;
}

.yellow_highlight {
    background-color: yellow;
    font-weight: bold;
}

.checkbox_selected {
    background: none repeat scroll 0 0 lightblue;
}

#advanced_search_button,
#search_tips {
    float: right !important;
}

#refine_search_button {
    float: right !important;
}

#results_right {
    font-size: 12px;
    text-align: right;
    float: right;
    margin-right: 8px;
    margin-left: 24px;
}

.ResultsLabel {
    font-weight: bold;
}

#current_results_counter {
    font-weight: bold;
}

#advanced_search {
    margin-left: 8px;
    margin-bottom: 8px;
}

#search_filter_title {
    margin-bottom: 2px;
    font-weight: bold;
    color: #222;
}

#search_filter_div {
    display: block;
    margin-left: 8px;
    color: #444;
}

input.search_filter {
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.topic_result_ul {
    margin-top: 0;
}

.topic_result_ul a {
    font-weight: normal !important;
}

#advanced_search_button,
#search_tips,
#refine_search_button,
.textButtons {
    background: url("../graphics/doc_button_left.png") no-repeat scroll 0 0 transparent !important;
    color:#013D75 !important;
    cursor:pointer;
    font-weight:bold;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 0px;
    height: 22px;
    overflow: hidden !important;
    font-size: 12px !important;
}

#advanced_search_button span,
#search_tips span,
#refine_search_button span,
.textButtons span {
    background: url("../graphics/doc_button.png") no-repeat scroll 100% 0 transparent !important;
    padding: 2px 9px 5px 0 !important;
    line-height: 19px;
    display: block !important;
    float: left;
}

.textButtonsCentered {
    background: url("../graphics/doc_button_left.png") no-repeat scroll 0 0 transparent !important;
    color: #013D75 !important;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    overflow: hidden !important;
    padding: 3px 5px 4px 4px !important;
    _padding: 1px 5px 4px 4px;
}

.textButtonsCentered span {
    background: url("../graphics/doc_button.png") no-repeat scroll 100% 0 transparent !important;
    display: inline !important;
    line-height: 20px;
    _line-height: 19px;
    padding: 3px 9px 4px 0 !important;
    _padding: 3px 9px 7px 0px !important;
}

#search_tips:hover,
#advanced_search_button:hover,
#refine_search_button:hover,
.textButtons:hover,
.textButtonsCentered:hover {
    background-position: 0 -22px !important;
}

#search_tips:hover span,
#advanced_search_button:hover span,
#refine_search_button:hover span,
.textButtons:hover span,
.textButtonsCentered:hover span {
    color:#000000 !important;
    background-position: 100% -22px !important;
    text-decoration:none !important;
}

#search_tips:active,
#advanced_search_button:active,
#refine_search_button:active,
#refine_search_button.disabled,
.textButtons:active,
.textButtons.disabled,
.textButtonsCentered:active,
.textButtonsCentered.disabled {
    background-position: 0 -66px !important;
}

#search_tips:active span,
#advanced_search_button:active span,
#refine_search_button:active span,
#refine_search_button.disabled span,
.textButtons:active span,
.textButtons.disabled span,
.textButtonsCentered:active span,
.textButtonsCentered.disabled span {
    background-position: 100% -66px !important;
    color: grey !important;
}

.textButtons.disabled span,
.textButtonsCentered.disabled span {
    cursor: default;
}

#search_tips.selected,
#advanced_search_button.selected {
    background-position: 0 -44px !important;
}

#search_tips.selected span,
#advanced_search_button.selected span {
    background-position: 100% -44px !important;
    color: black !important;
}

#search_tips a {
    font-size: 12px !important;
    color: #013D75 !important;
}

#search_tips a:hover {
    text-decoration: none;
}

/* popups */
.popup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    width: auto;
    margin-right: 100px;
    background: white;
    border: 2px solid #CECECE;
    z-index: 2;
    padding: 0px 0px 3px 0px;
    font-size: 13px;
}

.popup h1 {
    text-align: left;
    color: #2658A6;;
    font-size: 18px;
    font-weight: bold;
    background-color: #E9EDF2;
    border-bottom: 1px solid #CCC;
    padding: 2px 8px;
    margin: 0;
}

.popupClose {
    position: absolute;
    top: 4px;
    right: 6px;
    display: block;
    background: url('../graphics/close.png') center right no-repeat;
    width: 13px;
    height: 14px;
}

.popupClose:hover {
    background: url('../graphics/close_h.png') center right no-repeat;
}

#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 0;
}

#mydocsPopup {
    position: absolute;
    top: 24%;
    right: 5%;
    bottom: 24%;
    left: 5%;
    display: none;
    max-width: 870px;
    min-width: 515px;
    height: 400px;
    margin: auto;
}

#mydocsPopup table {
    padding: 0px 12px 0px 12px;
}

#prefsPopup {
    position: absolute;
    top: 39%;
    right: 5%;
    left: 5%;
    display: none;
    height: 110px;
    min-width: 200px;
    max-width: 721px;
    margin: auto;
    z-index: 2;
}

#prefsPopup label {
    padding-right: 10px;
}

#pref_promptclose {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
    top: 2px;
}

#prefsButtons {
    bottom:0px;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#pdflinkPopup {
    position: absolute;
    top: 39%;
    right: 5%;
    left: 5%;
    display: none;
    height: 160px;
    min-width: 200px;
    max-width: 721px;
    margin: auto;
    z-index: 2;
    font-size: 13px;
}

#pdflinkPopup p {
    margin-left: 20px;
    font-size: 13px;
}

#pdflinkPopup label {
    padding-right: 10px;
}

#pdflink_noprompt {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
    top: 2px;
}

#pdflinkButtons {
    bottom:0px;
    height: 32px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.left_justify {
    float: left !important
}

#mydocmoveright {
    float:left;
}

#mydocmoveleft {
    float:right;
}

#mydocmoveright {
    background: url('../graphics/next.png') center right no-repeat;
    width: 25px;
    height: 25px;
}

#mydocmoveright:hover {
    background: url('../graphics/next_h.png') center right no-repeat;
}

#mydocmoveleft {
    background: url('../graphics/prev.png') center right no-repeat;
    width: 25px;
    height: 25px;
}

#mydocmoveleft:hover {
   background: url('../graphics/prev_h.png') center right no-repeat;
}

#mydocmoveright:active, #mydocmoveright.disabled {
    background: url('../graphics/next_x.png') center right no-repeat;
}

#mydocmoveleft:active, #mydocmoveleft.disabled {
    background: url('../graphics/prev_x.png') center right no-repeat;
}

.notice {
    background: none repeat scroll 0 0 #FFF6BF;
    border: 2px solid red;
    color: #817134;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.4em 0.8em;
    text-align: center;
    display: block;
    visibility: visible;
    margin: 0 13px;
    border-radius: 5px 5px;
}

#hidecustomtab_box {
    border: 3px solid #2658A6;
    max-width: 403px;
    margin-left: 29px;
    padding-left: 8px;
}

#hidecustomtab {
    text-align: center;
    margin: auto;
    width: 123px;
}
